body {
    font-family: sans-serif;
}

#app {

    text-align: center;
    height: 450px;
}

#app div {
    margin: 10px;
    text-align: bottom;
    width: 30px;
    position: relative;
    display: inline-block;
    text-align: center;
    /* background: -webkit-linear-gradient(bottom, white 0%,#B5D7E4  20%,#05010a 20%,#eeeeee 21%,#eeeeee 98%); Chrome10-25,Safari5.1-6 */

}

#app div span {

    position: absolute;
    bottom: 0px;
    left: 5px;
    text-align: center;

}

#app div div {
    width: 100%;
    left: -10px;
    position: absolute;
    top: 10px;
}

.default {
    background: rgb(173, 216, 230)
}

.current {

    background: rgb(0, 128, 0);
}

.pass {
    background: rgb(255, 165, 0)
}